<%= render layout: "courses_layout" do %>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex justify-between items-center mr-5 pr-4">
      <h1 class="font-bold text-4xl">Courses</h1>
      <%= link_to 'Add course', new_department_course_path, class: "rounded-lg py-1 px-4 bg-green-300 inline-block font-medium mt-5" %>
    </div>
    <div id="courses" class="min-w-full">
      <%= render @courses %>
    </div>
  </div>
<% end %>
